attrs==20.3.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
debugpy==1.2.1
distro==1.5.0
docker==4.4.4
docker-compose==1.28.6
dockerpty==0.4.1
docopt==0.6.2
elasticsearch==7.12.0
idna==2.10
jsonschema==3.2.0
paramiko==2.7.2
pycparser==2.20
pymodbus==2.5.0
pyModbusTCP==0.1.10
PyNaCl==1.4.0
pyrsistent==0.17.3
pyserial==3.5
python-dateutil==2.8.1
python-dotenv==0.16.0
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
texttable==1.6.3
urllib3==1.26.4
websocket-client==0.58.0
